# Intro to Python: 2. Variables and Primitive Data Types
Welcome to the second tutorial in our "Intro to Python" series! In this notebook, we'll cover the basics of variables and data types in Python.  
By the end of this tutorial, you'll understand what variables are, the different data types in Python, and how to work with them.

## üìö Table of Contents

1. [What are Variables](#1)
   1. [Variable Naming Conventions](#1_1)

2. [Data Types in Python](#2)
   1. [Integers](#2_1)
   2. [Floats](#2_2)
   3. [Boolean](#2_3)
   4. [Strings](#2_4)

3. [Type Conversion](#3)

4. [Operators and Expressions](#4)
   1. [Arithmatic Operations](#4_1)
   2. [String Operations](#4_2)
   3. [Boolean Operations](#4_3)

5. [Practical Examples](#5)

6. [Exercise](#6)

---
## 1. What are Variables? <a id="1"></a>

A variable in Python is a reserved memory location to store values. In other words, a variable in a Python program gives data to the computer for processing.  
Let's see some examples of how to declare variables in Python.

In [ ]:
# Declaring variables
x = 5
pi = 3.14
name = "Alice"
is_student = True

print(x)
print(pi)
print(name)
print(is_student)

### 1.1 Variable Naming Conventions <a id="1_1"></a>

When naming variables in Python, it's important to follow certain conventions to make your code more readable and maintainable.  
Here are some key guidelines:

#### 1.1.1 Use Descriptive Names <a id="1_1_1"></a>
- Choose variable names that clearly describe their purpose or the data they hold.
- Avoid single-letter names except for loop indices or temporary variables.

In [ ]:
# Good
student_name = "Alice"
total_score = 95

In [ ]:
# Bad
s = "Alice"
t = 95

#### 1.1.2. Use Snake Case <a id="1_1_2"></a>
- Use lowercase letters with words separated by underscores (`_`).
- This improves readability, especially for longer variable names.

In [ ]:
# Good
first_name = "Bob"
last_name = "Smith"

In [ ]:
# Bad
lastname = "Smith"  # Hard to read without an underscore

#### 1.1.3. Start with a Letter or Underscore <a id="1_1_3"></a>
- Variable names must start with a letter (a-z, A-Z) or an underscore (`_`).
- They cannot start with a number.

In [ ]:
# Good
age = 25
_height = 5.9

In [ ]:
# Bad
2nd_place = "Second"  # Starts with a number

#### 1.1.4. Avoid Reserved Words <a id="1_1_4"></a>
- Do not use Python's reserved words (keywords) as variable names.
- Reserved words have special meanings in Python and using them as variable names will cause errors.

In [ ]:
# Good
total = 100
value = 50

In [ ]:
# Bad
for = 100  # 'for' is a reserved keyword
if = 50    # 'if' is a reserved keyword

#### 1.1.5. Use Meaningful Abbreviations <a id="1_1_5"></a>
- If you use abbreviations, make sure they are commonly understood and meaningful.

In [ ]:
# Good
num_students = 30  # 'num' is a common abbreviation for 'number'
avg_score = 88.5   # 'avg' is a common abbreviation for 'average'

In [ ]:
# Bad
n_st = 30  # Hard to understand
a_s = 88.5 # Hard to understand

#### 1.1.6. Be Consistent <a id="1_1_6"></a>
- Follow a consistent naming convention throughout your code.
- This makes your code easier to read and understand by others.
  
  
By following these conventions, your code will be more readable and maintainable, making it easier for others (and yourself) to understand and modify in the future.

---
## 2. Data Types in Python <a id="2"></a>
Python supports various data types. Here are some of the most commonly used ones:

### 2.1. Integers (`int`) <a id="2_1"></a>
Whole numbers, e.g., `5`, `-3`, `42`.

In [ ]:
# Integer
x = 10
print(type(x))

### 2.2. Floats (`float`) <a id="2_2"></a>
Numbers with a decimal point, e.g., `3.14`, `-0.001`.

In [ ]:
# Float
y = 3.14
print(type(y))

Python provides several built-in functions that can be used with numbers. Here are some common examples:

- **`abs()`**: Returns the absolute value of a number

- **`round()`**: Rounds a number to the nearest integer

In [ ]:
# absolute value
print(abs(-10))

In [ ]:
# round
print(round(3.75))

### 2.3. Booleans (`bool`) <a id="2_3"></a>
`True` or `False` values.

In [ ]:
# Boolean
is_online = True
print(type(is_online))

### 2.4. Strings (`str`) <a id="2_4"></a>

Strings are sequences of characters enclosed within:
- single quotes (`' '`), 
  
- double quotes (`" "`), 
  
- or triple quotes (`''' '''` or `""" """`).

In [ ]:
# String with double quotes
s = "Hello, World!"
print(s)

In [ ]:
# String with single quotes
s = 'Hello, World!'
print(s)

In [ ]:
# String with triple quotes
s = """Hello, 
World!"""
print(s)

In [ ]:
# String with triple quotes
s = '''Hello,
World!'''
print(s)

#### 2.4.1. String Built-in Functions and Methods <a id="2_4_1"></a>
Python provides several built-in functions that can be used with strings. Here is one of the most used built-in functions:
- **`len()`**: Returns the length (number of characters) of a string.

String methods are functions that perform specific operations on strings. Here are some commonly used string methods:

- **`.upper()`**: Converts all characters in a string to uppercase.
  
- **`.lower()`**: Converts all characters in a string to lowercase.
  
- **`.capitalize()`**: Capitalizes the first character of a string.
  
- **`.title()`**: Capitalizes the first character of each word in a string.
  
- **`.strip()`**: Removes leading and trailing whitespace from a string.
  
- **`.replace(old, new)`**: Replaces occurrences of a substring within a string with a new substring.
  
- **`.find(sub)`**: Returns the index of the first occurrence of a substring within a string, or `-1` if the substring is not found.
  
- **`.split(separator)`**: Splits a string into a list of substrings based on a specified separator.

Here are some examples:

In [ ]:
# String
s = " hello, WORLD! "

# get the length of the string
print(len(s))

In [ ]:
# Convert to uppercase
print(s.upper())

In [ ]:
# Convert to lowercase
print(s.lower())

In [ ]:
# Capitalize the first character
s2 = "hello, world!"
print(s2.capitalize())

In [ ]:
# Title case
print(s.title())

In [ ]:
# Strip leading and trailing whitespace
print(s.strip())

In [ ]:
print(len(s.strip()))

In [ ]:
# Replace substring
print(s.replace("hello", "Hi"))

In [ ]:
# Find substring
print(s.find("WORLD"))

In [ ]:
# Split string into list
print(s.split(", "))

#### 2.4.2. String Indexing <a id="2_4_2"></a>

Indexing allows you to access individual characters in a string using their position (index).  
The index starts at `0` for the first character, `1` for the second character, and so on.  
You can also use negative indices to access characters from the end of the string, with `-1` being the last character.
  
<div style="margin-top: 2rem;">
  <table style="text-align:center; margin: auto;">
    <tr>
      <th>Character</th>
      <th>H</th>
      <th>e</th>
      <th>l</th>
      <th>l</th>
      <th>o</th>
      <th>,</th>
      <th> </th>
      <th>W</th>
      <th>o</th>
      <th>r</th>
      <th>l</th>
      <th>d</th>
      <th>!</th>
    </tr>
    <tr>
      <td>Index</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Negative Index</td>
      <td>-13</td>
      <td>-12</td>
      <td>-11</td>
      <td>-10</td>
      <td>-9</td>
      <td>-8</td>
      <td>-7</td>
      <td>-6</td>
      <td>-5</td>
      <td>-4</td>
      <td>-3</td>
      <td>-2</td>
      <td>-1</td>
    </tr>
  </table>
</div>

In [ ]:
# String indexing
s = "Hello, World!"

# Access first character
print(s[0])

In [ ]:
# Access fifth character
print(s[4])

In [ ]:
# Access last character
print(s[-1])

In [ ]:
# Access second-to-last character
print(s[-2])

#### 2.4.3. String Slicing <a id="2_4_3"></a>

Slicing allows you to extract a substring from a string. You specify a range of indices to extract a portion of the string.  
The syntax is `string[start:end]`, where `start` is the index of the first character to include, and `end` is the index of the first character to exclude.  
You can also specify a step value as `string[start:end:step]`.
  
<div style="margin-top: 2rem;">
  <table style="text-align:center; margin: auto;">
    <tr>
      <th>Character</th>
      <th>H</th>
      <th>e</th>
      <th>l</th>
      <th>l</th>
      <th>o</th>
      <th>,</th>
      <th> </th>
      <th>W</th>
      <th>o</th>
      <th>r</th>
      <th>l</th>
      <th>d</th>
      <th>!</th>
    </tr>
    <tr>
      <td>Index</td>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Negative Index</td>
      <td>-13</td>
      <td>-12</td>
      <td>-11</td>
      <td>-10</td>
      <td>-9</td>
      <td>-8</td>
      <td>-7</td>
      <td>-6</td>
      <td>-5</td>
      <td>-4</td>
      <td>-3</td>
      <td>-2</td>
      <td>-1</td>
    </tr>
  </table>
</div>

In [ ]:
# String slicing
s = "Hello, World!"

# Slice from index 0 to 5 (excluding 5)
print(s[0:5])  # "Hello"

In [ ]:
# Slice from start to index 5 (excluding 5)
print(s[:5])  # "Hello"

In [ ]:
# Slice from index 7 to end
print(s[7:])  # "World!"

In [ ]:
# Slice with step value
print(s[0:12:2])  # "Hlo ol"

#### 2.4.4. String Formatting <a id="2_4_4"></a>
String formatting allows you to create formatted strings by embedding variables or expressions inside placeholders.  
There are two main ways to format strings in Python: using the `.format()` method and f-strings (formatted string literals).

**Using `.format()` Method**  

The `.format()` method allows you to insert variables or expressions into a string by using curly braces `{}` as placeholders.

In [ ]:
# Basic usage
name = "Alice"
age = 30

In [ ]:
print("Hello, name. You are age years old.")

In [ ]:
formatted_string = "Hello, {}. You are {} years old.".format(name, age)
print(formatted_string)  # Output: Hello, Alice. You are 30 years old.

In [ ]:
# Named placeholders
formatted_string = "Hello, {name}. You are {age} years old.".format(name=name, age=age)
print(formatted_string)  # Output: Hello, Alice. You are 30 years old.

In [ ]:
# Formatting float
value = 123.456789
formatted_string = "Formatted float: {:.2f}".format(value)
print(formatted_string)  # Output: Formatted float: 123.46

**Using f-Strings**  

f-Strings, introduced in Python 3.6, provide a more concise and readable way to format strings.  
They use curly braces `{}` to embed expressions directly within string literals, prefixed by the letter `f`.

In [ ]:
formatted_string = f"Hello, {name}. You are {age} years old."
print(formatted_string)  # Output: Hello, Alice. You are 30 years old.

In [ ]:
formatted_string = f"Formatted float: {value:.2f}"
print(formatted_string)  # Output: Formatted float: 123.46

---
## 3. Type Conversion <a id="3"></a>
Sometimes, you may need to convert variables from one type to another. Python provides functions for this:
- `int()`: Converts to integer
- `float()`: Converts to float
- `str()`: Converts to string
- `bool()`: Converts to boolean

Here are some examples of type conversion:

In [ ]:
# Convert float to int
x = 4.7
x_int = int(x)
print(f'type of x is {type(x)}')
print(f'type of x_int is {type(x_int)}')

In [ ]:
# Convert int to float
y = 5
y_float = float(y)
print(f'type of y is {type(y)}')
print(f'type of y_float is {type(y_float)}')

In [ ]:
# Convert int to string
z = 10
z_str = str(z)
print(f'type of z is {type(z)}')
print(f'type of z_str is {type(z_str)}')

In [ ]:
# convert string to int
s = "10"
s_int = int(s)
print(f'type of s is {type(s)}')
print(f'type of s_int is {type(s_int)}')

In [ ]:
# Convert string to boolean
w = 'True'
w_bool = bool(w)
print(f'type of w is {type(w)}')
print(f'type of w_bool is {type(w_bool)}')

---
## 4. Operators and Expressions <a id="4"></a>
You can perform various operations with variables in Python.

### 4.1. Arithmetic Operations: <a id="4_1"></a>

- Addition (`+`)

- Subtraction (`-`)

- Multiplication (`*`)

- Division (`/`)

- Exponentiation (`**`)

- Floor Division (`//`): Divides and returns the largest integer less than or equal to the result

- Modulus (`%`): Returns the remainder of the division

In [ ]:
# Arithmetic operations
a = 10
b = 3

# Addition
print(f'Addition: {a} + {b} = {a + b}')  # Output: 13

# Subtraction
print(f'Subtraction: {a} - {b} = {a - b}')  # Output: 7

# Multiplication
print(f'Multiplication: {a} * {b} = {a * b}')  # Output: 30

# Exponentation
print(f'Exponentation: {a} ** {b} = {a ** b}')  # Output: 1000

# Division
print(f'Division: {a} / {b} = {a / b}')  # Output: 3.3333333333333335

# Floor Division
print(f'Floor Division: {a} // {b} = {a // b}')  # Output: 3

# Modulus
print(f'Modulus: {a} % {b} = {a % b}')  # Output: 1

### 4.2. String Operations: <a id="4_2"></a>

- Concatenation (`+`)

- Repetition (`*`)

In [ ]:
# String operations
str1 = "Hello"
str2 = "World"

# Concatenation
print(f'Concatenation: {str1} + {str2} = {str1 + ', ' + str2 + '!'}')  # Output: HelloWorld

# Repetition
print(f'Repetition: {str1} * 3 = {str1 * 3}')  # Output: HelloHelloHello

### 4.3. Boolean Operations: <a id="4_3"></a>

- `and`

- `or`

- `not`

In [ ]:

# Boolean operations
x = True
y = False

# and
print(f'{x} and {y} = {x and y}')  # Output: False

# or
print(f'{x} or {y} = {x or y}')  # Output: True

# not
print(f'not {x} = {not x}')  # Output: False

---
## 5. Practical Example <a id="5"></a>
Let's practice what we've learned with a simple example:

- Calculate the area of a rectangle given the length and width and print a formatted text with the result.

In [ ]:
length = 5.25
width = 3.6
area = length * width
print(f'The area of the rectangle is {area:.2f} m^2')

---
## 6. Exercise <a id="6"></a>
Now it's your turn to practice! Try this simple exercise:

- Write a program to convert Fahrenheit to Celsius and print a formatted text with the result.  
- Formula:  
<center>

$Celsius = (Fahrenheit - 32) * 5/9$

</center>

In [ ]:
# your code here
fahrenheit = 98.6

# TODO: Convert Fahrenheit to Celsius


# TODO: Print the result

<details>
<summary>üí° Solution</summary>

```python

    fahrenheit = 98.6
    celsius = (fahrenheit - 32) * 5/9
    print(f"{fahrenheit} Fahrenheit is {celsius:.2f} Celsius")

```

</details>

---
## üë®‚Äçüíª Author

**Samer Hany** | Full-stack Developer & Data Scientist

<table style="border:none;">
  <tr>
    <td style="padding: 5px 0; border:none;">- Website:</td>
    <td style="padding: 5px; border:none;"><a href="https://samerhany.com">samerhany.com</a></td>
  </tr>
  <tr>
    <td style="padding: 5px 0; border:none;">- LinkedIn:</td>
    <td style="padding: 5px; border:none;"><a href="https://linkedin.com/in/samer-hany">in/samer-hany</a></td>
  </tr>
  <tr>
    <td style="padding: 5px 0; border:none;">- YouTube:</td>
    <td style="padding: 5px; border:none;"><a href="https://www.youtube.com/@SamerHany">c/SamerHany</a></td>
  </tr>
  <tr>
    <td style="padding: 5px 0; border:none;">- GitHub:</td>
    <td style="padding: 5px; border:none;"><a href="https://github.com/SamerHany">/SamerHany</a></td>
  </tr>
</table>